<div id="app">
  <div id="controls">
    <div class="button frown">
      <a href="#">
        <%= icon('frown-o') %>
      </a>
    </div>
    <div class="button smile">
      <a href="#">
        <%= icon('smile-o') %>
      </a>
    </div>
  </div>
  <div id="comics"></div>
</div>
<div id="copyright">
  <a href="http://docs.prediction.io" class="info">
    <%= icon('info-circle') %>
  </a>
</div>
