.button {
  width: 80px;
  height: 80px;
  background: #eeeeee;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  a {
    border-radius: 50%;
    width: 75%;
    height: 75%;
    background: #ffffff;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    &:active {
      transform: translateY(-50%) scale(0.9);
      transition: all .1s linear;
    }
  }
}
