<p><b>Episode ID:</b> {{episodeId}}</p>

<h3>Likes</h3>
<ul>
  {{#each likes}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<h3>Dislikes</h3>
<ul>
  {{#each dislikes}}
  <li>{{this}}</li>
  {{/each}}
</ul>
