@import 'normalize-rails';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'partials/**/*';

body {
  background-color: #e5e5e5;
}

#global {
  display: flex;
}

#main {
  margin: 0 auto 0 auto;
  width: 600px;
}

#app {
  width: inherit;
  background: #ffffff;
  display: block;
}

#controls {
  display: block;
  padding: 10px 20px 10px 20px;
  height: 100px;
  position: fixed;
  width: inherit;
  box-sizing: border-box;
  background-color: #ffffff;
}

#comic {
  padding-top: 100px;
  display: block;
  p {
    text-align: center;
    font-size: 20px;
    color: #333333;
  }
  img {
    display: block;
    width: 100%;
  }
}

.loading #comic img {
  display: none;
}

#loading {
  color: #999999;
  display: block;
  font-size: 30px;
  padding: 20px 0;
  text-align: center;
}

#debug {
  margin-top: 30px;
  display: block;
  background-color: #f0f0f0;
  padding: 20px 0;
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

#copyright {
  margin: 30px 0 30px 0;
  padding: 10px 0 10px 0;
  background-color: #ffffff;
  text-align: center;
}
